.section {
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--lwc-colorBackgroundAlt, #f9f9f9);
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.active-tab {
    background-color: #0176d3;
    --slds-c-button-text-color: white;
   
}
.custom-button {
    --slds-c-button-shadow-focus: none;
    --slds-c-button-shadow-active: none;
    --slds-c-button-outline-color-focus: transparent;
    --slds-c-button-outline-color-active: transparent;
    --slds-c-button-outline-color-focus: transparent;

}
